<script type="text/template" id="navigation">
  <li class="first" id="userbutton">
    <div id="user-icon">
      <img src="/public/images/app/navbar/user.png" title="Login"/>
    </div>
  </li>

  <% _.each(items, function(navEntry) { %>
    <li class="adminbutton <%= navEntry.class %>" id="<%= navEntry.eventId %>">
      <a href="<%= navEntry.route %>">
        <span id="<%= navEntry.htmlId %>" style="<%= navEntry.style %>">
          <img src="<%= navEntry.image %>" title="<%= navEntry.name %>"/>          
        </span>
      </a>  
    </li>
  <% }) %>

  <li class="last" id="helpbutton">
    <a href="/">
      <span id="help-icon">
        <img src="/public/images/app/navbar/help.png" title="Help"/>          
      </span>
    </a>  
  </li>
</script>
<!--
      <li class="first" id="userbutton">
        <div id="user-icon">
          <img src="/static/images/111-user.png" title="user panel"/>
        </div>
      
      </li>
      </li>
      <li id="dashboard-button" class="adminbutton">
        <a href="/#/dashboard">
          <span id="dashboard-icon">
            <img src="/static/images/81-dashboard.png" title="dashboard"/>
          </span>
        </a>
      </li>
      <li id="files-button" class="adminbutton">
        <a href="/#/files">
          <span id="files-icon">
            <img src="/static/images/33-cabinet.png" title="files"/>
          </span>
        </a>
      </li>
      <li id="packages-button" class="adminbutton">
        <a href="/#/packages">
          <span id="packages-icon">
            <img src="/static/images/24-gift.png" title="packages"/>
          </span>
        </a>
      </li>
      <li id="settings-button" class="adminbutton">
        <a href="/#/settings">
          <span id="settings-icon">
            <img src="/static/images/19-gear.png" title="settings"/>
          </span>
        </a>
      </li>

      <li class="last"></li>

      <li id="controlbutton-before"></li>
      <li id="controlbutton">
        <a>
          <span id="music-icon">
            <img src="/static/images/65-note.png" title="music controls"/>
          </span>
        </a>
      </li>
      
  </script>
  -->