  <script type="text/template" id="packages-template">
    <div class="two-thirds column statusbox">
      <h5 style="display:inline-block;">Packages</h5>
      <div id="package-controls">
        <span id="previous-button">⬇</span>
        <span id="current-index"></span>
        <span id="next-button">⬆</span>
      </div>
      <div class="etch"></div>
      <ul id="package-list"></ul>
    </div>
    <div class="one-third column statusbox">
      <h5>Status</h5>
      <div class="etch"></div>
      <div>Total: <span id="number-all-packages"></span></div>
      <div>Installed: <span id="number-installed-packages"></span></div>
      <div>Updates: <span id="number-updates-available"></span></div>
      
    </div>
  </script>
