  <script type="text/template" id="user-template">
    <h5>Users</h5>
    <div class="etch"></div>
    <ul id="userlist">

    </ul>
  </script>


  <script type="text/template" id="adduser-template"> 

    <div class="whitebox text-entry-box"><input class="selectable" placeholder="Username" type="text" name="username" id="usernamefield" /></div>
    <div class="whitebox text-entry-box"><input class="selectable" placeholder="Password" type="password" name="password" id="passwordfield" /></div>
    
  </script>